{% extends "basefile.html" %}
{% block title %}Login - SMARTTM{%endblock%}
{% block body_block%}
	<br><br>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<div class="well" style="width:">
				<center><h3>Reset Password</h3></center>

				<form method="post">

				<hr>
				  {% csrf_token %}
				  Email:<br>
				  <input type="email" name="email" id="email" class="form-control" required >
				  <br><br>
				  <br>
				  <div style="float:right;">
					  <button type="submit" class="btn btn-primary" ><i class="fa fa-send"></i>Send Reset Link</button>
				  </div>
				  <br>

				  <br>
				</form>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
	</div>

{% endblock %}