{% extends "basefile.html" %}
{% block title %}Login - SMARTTM{%endblock%}
{% block body_block%}
	<br><br>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<div class="well" style="width:">
				<center><h3>Reset Password</h3></center>
                {% if validlink %}
				<form method="post">
				<hr>

				  {% csrf_token %}
				  New Password:<br>
				  <input type="password" name="new_password1" id="password1" class="form-control" required >
				  	<br>
					{{ form.errors.new_password1 }}
					<br>
				  Confirm Password:<br>
				  <input type="password" name="new_password2" id="password2" class="form-control" required >
				  	<br>
					{% for error in form.errors.new_password2 %}
					<p class="alert-danger" >{{ error }}</p>
					{% endfor %}
					<br>
				  <div style="float:right;">
					  <button type="submit" class="btn btn-primary" ><i class="fa fa-send"></i> Reset Password</button>
					  <button type="reset"  class="btn btn-secondary" ><i class="fa fa-refresh"></i> Clear Form</button>
				  </div>
				  <br>

				  <br>
				</form>
                {% else %}
                <br>
                <h4>The reset link is invalid. Try requesting a <a href="{% url 'password_reset' %}">new link</a></h4>
                {% endif %}
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
	</div>

{% endblock %}