{% extends "basefile.html" %}


{% block title %}My Space - SMARTTM {%endblock%}
{% block body_block%}
		

<div class="container-fluid">
			<h3>{{ request.user.full_name }}'s Speech Stats</h3>
		
		</div>
		<br /><br />
		<div class="container-fluid" >
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-6" >
					<div class="counter" >
						<i class="fa fa-cube fa-2x"  ></i>
						<h2 class="timer count-title count-number" data-to="{{ Roles_Performed }}" data-speed="800">{{ Roles_Performed }}</h2>
						<p class="count-text "><b>Roles Performed</b></p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-6" >
					<div class="counter" >
						<i class="fa fa-cube fa-2x"  ></i>
						<h2 class="timer count-title count-number" data-to="{{ prepared_speech_count }}" data-speed="800">{{ prepared_speech_count }}</h2>
						<p class="count-text "><b>Prepared Speeches</b></p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-6" >
					<div class="counter" >
						<i class="fa fa-cube fa-2x"  ></i>
						<h2 class="timer count-title count-number" data-to="{{ tt_speech_count }}" data-speed="800">{{ tt_speech_count }}</h2>
						<p class="count-text "><b>TT Speeches</b></p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-6" >
					<div class="counter" >
						<i class="fa fa-cube fa-2x"  ></i>
						<h2 class="timer count-title count-number" data-to="39" data-speed="800">{{ ah_count_avg }}</h2>
						<p class="count-text "><b>AH Count Average</b></p>
					</div>
				</div>
				
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-6" >
					<div class="counter" >
						<i class="fa fa-cube fa-2x"  ></i>
						<h2 class="timer count-title count-number" data-to="39" data-speed="800">{{ eval_speech_count }}</h2>
						<p class="count-text "><b>Evaluations Performed</b></p>
					</div>
				</div>
				
				
			</div>
			<br>
			<hr>
			<br>

			
			<div class="row">
				
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
				<center><h3>Prepared Speech Stats</h3></center>
					<div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
					<!-- <div class="col-md-6" id="stacked-bar-charts2"></div> -->
					
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
				<center><h3>TT Speech Stats</h3></center>
					<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
					<!-- <div class="col-md-6" id="stacked-bar-charts2"></div> -->
					
				</div>
		</div>
		
		<hr />	
		
		<div class="row">
				<center><h3>Prepared Speeches</h3></center>
				<br>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
					<div class="table-wrapper">
						<div class="table-title">
							
						</div>
						
						<table  class="table table-bordered" >
							<thead>
								<tr>
									<th>Date</th>
									<th>Time</th>
									<th>AH Counts</th>
									<th>Votes %</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>April 24, 2019</td>
									<td>20 min</td>
									<td>20</td>
									<td>60%</td>
								</tr>
								<tr>
									<td>April 21, 2019</td>
									<td>18 min</td>
									<td>24</td>
									<td>70%</td>
								</tr>
								<tr>
									<td>April 05, 2019</td>
									<td>15 min</td>
									<td>18</td>
									<td>62%</td>
								</tr>
								<tr>
									<td>March 19, 2019</td>
									<td>11 min</td>
									<td>30</td>
									<td>46%</td>
								</tr>
								<tr>
									<td>April 21, 2019</td>
									<td>16 min</td>
									<td>10</td>
									<td>53%</td>
								</tr>
								<tr>
									<td>April 05, 2019</td>
									<td>30 min</td>
									<td>29</td>
									<td>28%</td>
								</tr>
								<tr>
									<td>April 05, 2019</td>
									<td>30 min</td>
									<td>29</td>
									<td>28%</td>
								</tr>
								<tr>
									<td>April 05, 2019</td>
									<td>30 min</td>
									<td>29</td>
									<td>28%</td>
								</tr>
								<tr>
									<td>April 05, 2019</td>
									<td>30 min</td>
									<td>29</td>
									<td>28%</td>
								</tr>
								<tr>
									<td>April 05, 2019</td>
									<td>30 min</td>
									<td>29</td>
									<td>28%</td>
								</tr>
								<tr>
									<td>April 05, 2019</td>
									<td>30 min</td>
									<td>29</td>
									<td>28%</td>
								</tr>
								<tr>
									<td>April 05, 2019</td>
									<td>30 min</td>
									<td>29</td>
									<td>28%</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
					<div class="table-wrapper">
						<div class="table-title">
							
						</div>
						
						<table  class="table table-bordered" >
							<thead>
								<tr>
									<th>Date</th>
									<th>Time</th>
									<th>AH Counts</th>
									<th>Votes %</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>April 24, 2019</td>
									<td>20 min</td>
									<td>20</td>
									<td>60%</td>
								</tr>
								<tr>
									<td>April 21, 2019</td>
									<td>18 min</td>
									<td>24</td>
									<td>70%</td>
								</tr>
								<tr>
									<td>April 05, 2019</td>
									<td>15 min</td>
									<td>18</td>
									<td>62%</td>
								</tr>
								<tr>
									<td>March 19, 2019</td>
									<td>11 min</td>
									<td>30</td>
									<td>46%</td>
								</tr>
								<tr>
									<td>April 21, 2019</td>
									<td>16 min</td>
									<td>10</td>
									<td>53%</td>
								</tr>
								<tr>
									<td>April 05, 2019</td>
									<td>30 min</td>
									<td>29</td>
									<td>28%</td>
								</tr>
								<tr>
									<td>April 05, 2019</td>
									<td>30 min</td>
									<td>29</td>
									<td>28%</td>
								</tr>
								<tr>
									<td>April 05, 2019</td>
									<td>30 min</td>
									<td>29</td>
									<td>28%</td>
								</tr>
								<tr>
									<td>April 05, 2019</td>
									<td>30 min</td>
									<td>29</td>
									<td>28%</td>
								</tr>
								<tr>
									<td>April 05, 2019</td>
									<td>30 min</td>
									<td>29</td>
									<td>28%</td>
								</tr>
								<tr>
									<td>April 05, 2019</td>
									<td>30 min</td>
									<td>29</td>
									<td>28%</td>
								</tr>
								<tr>
									<td>April 05, 2019</td>
									<td>30 min</td>
									<td>29</td>
									<td>28%</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
			</div>
		</div>
	<script>
		Highcharts.chart('container', {
			chart: {
				type: 'column'
			},
			title: {
				text: ''
			},
			
			xAxis: {
				categories: [
					'23-Apr-19',
					'23-Apr-19',
					'23-Apr-19',
					'23-Apr-19',
					'23-Apr-19',
					'23-Apr-19'
				],
				crosshair: true
			},
			yAxis: {
				min: 0,
				title: {
					text: 'Count'
				}
			},
			tooltip: {
				headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
				pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
					'<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
				footerFormat: '</table>',
				shared: true,
				useHTML: true
			},
			plotOptions: {
				column: {
					pointPadding: 0.2,
					borderWidth: 0
				},
				series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y}'
            }
        }
			},
			series: [{
				name: 'AH Count',
				data: [10, 9, 10, 9, 8, 7],
				color: 'grey'
			}, {
				name: 'Votes Percentage',
				color: '#007BFF',
				data: [10, 15, 15, 30, 20, 20]

			}]
		});
		</script>
		
		<script>
		Highcharts.chart('container2', {
			chart: {
				type: 'column'
			},
			title: {
				text: ''
			},
			xAxis: {
				categories: [
					'23-Apr-19',
					'23-Apr-19',
					'23-Apr-19',
					'23-Apr-19',
					'23-Apr-19',
					'23-Apr-19'
				],
				crosshair: true
			},
			yAxis: {
				min: 0,
				title: {
					text: 'Count'
				}
			},
			tooltip: {
				headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
				pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
					'<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
				footerFormat: '</table>',
				shared: true,
				useHTML: true
			},
			plotOptions: {
				column: {
					
					pointPadding: 0.2,
					borderWidth: 0
				},
				series: {
				
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y}'
            }
        }
			},
			series: [{
				name: 'AH Count',
				data: [10, 9, 10, 9, 8, 7],
				color: 'grey'
			}, {
				name: 'Votes Percentage',
				color: '#007BFF',
				data: [10, 15, 15, 30, 20, 20]

			}]
		});
		</script>

{%endblock%}