{% extends "basefile.html" %}


{% block title %}Manage Club - SMARTTM {%endblock%}
{% block body_block%}
		
		<!-- <br /><br /> -->
		<div class="container-fluid" >
			<br><br>
			<div class="row">
				<div class="col-sm">
					<h3>Club Management</h3>
				</div>
				{% if request.session.SelectedClub.2 %}
				<div class="col-sm" style="text-align:right;">
					<h3>
					<a href="{% url 'send_participation_email' club_id=request.session.SelectedClub.0 %}"><button type="button" class="btn btn-outline-primary btn-rounded" >
					  <i class="far fa-paper-plane"></i> Send Participation Email
					</button></a>
					
					<button type="button" class="btn btn-outline-primary btn-rounded" data-toggle="modal" data-target="#ImportModelModal">
					  <i class="fa fa-file-excel"></i> Import Members
					</button> 
					</h3>
				</div>
				{% endif %}
			</div>
			<hr />
			<br>

			
			<!-- Import Modal -->
			<div class="modal fade" id="ImportModelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<form action="{% url 'import_members' club_id=request.session.SelectedClub.0 %}" method="POST" enctype="multipart/form-data">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Import Members</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								{% csrf_token %}
								<div class="alert alert-info">
								  <strong>Info!</strong> Make sure the import file is <u>.csv</u> file and according to the template.
								</div>
								<br>
								
								<br>
								<b>Select File :</b>
								<input type="file" name="importfile" required class="form-data" />
								<br><br>
								
								<br>
								<input type="hidden" name="next" value="{{ request.path }}">
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">Import Members</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		<!-- Import Modal --> 
			 
			 
			<div class="row">
				  
				<div class="col-sm" >
					<div class="table-title table-responsive">

							<table  class="table table-bordered" >
							<thead>
								<tr>
									<th>#</th>
									<th>Member ID</th>
									<th>Name</th>
									<th>Email</th>
									<th>Phone</th>
									<th>Last Summary Sent</th>
									<th>Dues Paid</th>
									<th>EC</th>
									
								</tr>
							</thead>
							<tbody>
								 {% for summ_Obj in club_members %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{ summ_Obj.pk }}</td>
										<td>{{ summ_Obj.user.full_name }}</td>
										<td>{{ summ_Obj.user.email }}</td>
										<td>{{ summ_Obj.user.mobile_phone }}</td>
										<td>{{ summ_Obj.summary_sent_date|date:"M d, Y" }}</td>
										<td>
											{% if summ_Obj.paid_status %}Paid{% endif%}
											{% if summ_Obj.paid_status == False %}Unpaid{% endif%}
										</td>
										<td>{% if summ_Obj.is_EC == True  %} Yes {% endif %}</td>
									</tr>
								{% endfor %}
							</tbody>
							</table>
						</div>

				</div>
				
			</div>
		</div>
	 
{%endblock%}