{% extends "basefile.html" %}


{% block title %}Manage Club - SMARTTM {%endblock%}
{% block body_block%}
		<div class="container-fluid">
			<h3>Club Management</h3>
		
		</div>
		<!-- <br /><br /> -->
		<div class="container-fluid" >
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h4>All Models</h4>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align:right;">
					<a href="/smarttm_web/ManageClub"><button type="button" class="btn btn-outline-success" >
					  <i class="fa fa-sync"></i> Refresh
					</button></a>
					
					<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#ImportModelModal">
					  <i class="fa fa-file-excel"></i> Import Members
					</button> 
					
				</div>
			</div>
			<br>
			{% for message in messages %}
			<span class="alert alert-danger"><i class="fa fa-times"></i> {{ message }}</span><br><br>
			{% endfor %}
			
			<!-- Import Modal -->
			<div class="modal fade" id="ImportModelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<form action="/smarttm_web/ImportMembers" method="POST" enctype="multipart/form-data">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Import Members</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								{% csrf_token %}
								<div class="alert alert-info">
								  <strong>Info!</strong> Make sure the import file is <u>.xlsx</u> file and according to the template.
								</div>
								<br>
								
								<br>
								<b>Select File :</b>
								<input type="file" name="importfile" required class="form-data" />
								<br><br>
								
								<br>
								
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">Import Members</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		<!-- Import Modal --> 
			 
			 
			<div class="row">
				  
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
					<div class="table-wrapper">
						<div class="table-title">
							<table  class="table table-bordered" >
							<thead>
								<tr>
									<th>Rank</th>
									<th>Toastmaster ID</th>
									<th>Name</th>
									<th>Email</th>
									<th>Phone</th>
									<th>Paid Until</th>
									<th>EC</th>
									
								</tr>
							</thead>
							<tbody>
								 {% for summ_Obj in club_members %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{ summ_Obj.user.toastmaster_id }}</td>
										<td>{{ summ_Obj.user.full_name }}</td>
										<td>{{ summ_Obj.user.email }}</td>
										<td>{{ summ_Obj.user.mobile_phone }}</td>
										<td>{{ summ_Obj.user.paid_until }}</td>
										<td>{% if summ_Obj.is_EC == True  %} {{ summ_Obj.position.name }} {% endif %}</td>
									</tr>
								{% endfor %}
							</tbody>
							</table>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	 
{%endblock%}