{% extends "basefile.html" %}


{% block title %}Meeting Details of {{ meeting.meeting_date }} - SMARTTM {%endblock%}
{% block body_block%}

		<!-- <br /><br /> -->
		<div class="container-fluid" >
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3>Meeting Details of {{ meeting.meeting_date }}</h3>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align:right;">
					<h3>
					<a href="{% url 'meeting_detail' meeting.pk %}"><button type="button" class="btn btn-outline-success" >
					  <i class="fa fa-sync"></i> Refresh
					</button></a>

					<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#ImportMeetingData">
					  <i class="fa fa-file-excel"></i> Import Meeting Data
					</button>
					</h3>
				</div>

				<!-- Import Modal -->
					<div class="modal fade" id="ImportMeetingData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<form action="{% url 'import_meeting_data' %}" method="POST" enctype="multipart/form-data">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Import Meeting Data</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										{% csrf_token %}
										<div class="alert alert-info">
										  <strong>Info!</strong> Make sure the import file is <u>.xlsx</u> file and according to the template.
										</div>
										<br>

										<br>
										<b>Select File :</b>
										<input type="file" name="importfile" required class="form-data" />
										<input type="hidden" name="meeting_id" required class="form-data" value = "{{meeting.pk}}">
										<br><br>

										<br>

									</div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-primary">Import Data</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</div>
								</form>
							</div>
						</div>
					</div>
			</div>

			<hr />	
			<br><br>



			<div class="row">
				<h4>Speeches Detail </h4>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
					<div class="table-wrapper">
						<div class="table-title">
							<table  class="table table-bordered" >
							<thead>
								<tr>
									<td> # </td>
									<th>Member Name</th>
									<th>Speech Type</th>
									<th>Total Duration</th>
									<th>AH Counts</th>
									<th>Vote Counts</th>

								</tr>
							</thead>
							<tbody>
								{% for part_Obj in speech_part %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{ part_Obj.member.user.full_name }}</td>
										<td>{{ part_Obj.participation_type.name }}</td>
										<td>{{ part_Obj.time_seconds }}</td>
										<td>{{ summ_Obj.ah_count }}</td>
										<td>{{ summ_Obj.vote_count }}</td>
									</tr>
								{% endfor %}
							</tbody>
							</table>
						</div>
					</div>
				</div>
				
			</div>
            <div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
				<center><h4>Basic Roles</h4></center>
				<br>
					<div class="table-wrapper">
						<div class="table-title">

						</div>

						<table  class="table table-bordered" >
							<thead>
								<tr>
									<td> # </td>
									<th>Role Name</th>
									<th>Performed By</th>
								</tr>
							</thead>
							<tbody>
								{% for part_Obj in role_basic_part %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{ part_Obj.participation_type.name }}</td>
                                        <td>{{ part_Obj.member.user.full_name }}</td>
										</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
				<center><h4>Advanced Roles</h4></center>
				<br>
					<div class="table-wrapper">
						<div class="table-title">

						</div>

						<table  class="table table-bordered" >
							<thead>
								<tr>
									<td> # </td>
									<th>Role Name</th>
									<th>Performed By</th>
								</tr>
							</thead>
							<tbody>
								{% for part_Obj in role_advanced_part %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{ part_Obj.participation_type.name }}</td>
                                        <td>{{ part_Obj.member.user.full_name }}</td>
										</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="table-wrapper">
						<div class="table-title">

						</div>

						<table  class="table table-bordered" >
							<thead>
								<tr>
									<td> # </td>
									<th>Member ID</th>
									<th>Member Name</th>
									<th>Present</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for att_record in attendance %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{ att_record.member.pk }}</td>
                                        <td>{{ att_record.member.user.full_name }}</td>
										<td id = "attendance-{{ att_record.pk }}">
											{% if att_record.present %}<i class="fas fa-check"></i>{% endif %}
											{% if att_record.present == False %}<i class="fas fa-times"></i>{% endif %}
										</td>
										<td id = "actions-{{ att_record.pk }}">{% if att_record.present %}<a onClick="ToggleAttendance({{ att_record.pk }})">Mark Absent</a>{% endif %}
											{% if att_record.present == False %}<a onClick="ToggleAttendance({{ att_record.pk }})">Mark Present</a>{% endif %}
										</td>
										</tr>
								{% endfor %}
							</tbody>
						</table>
				</div>

			</div>
		</div>

		
		<!-- Modal -->
		
		<script>
			
			function ToggleAttendance(AttendanceID){
				console.log(AttendanceID)
				 
				 
				$.get( "/api/toggleattendance/"+AttendanceID+"/",
				function( data ) {
				console.log(data)

				 if (data.status = 'success'){

				 	if (data.present){
				 		document.getElementById('actions-'+AttendanceID.toString()).innerHTML = '<a onClick = "ToggleAttendance(' + AttendanceID.toString() + ')">Mark Absent</a>';
				 		document.getElementById('attendance-'+AttendanceID.toString()).innerHTML = '<i class="fas fa-check"></i>'

				 	}
				 	else {
				 		document.getElementById('actions-'+AttendanceID.toString()).innerHTML = '<a onClick = "ToggleAttendance(' + AttendanceID.toString() + ')">Mark Present</a>';
				 		document.getElementById('attendance-'+AttendanceID.toString()).innerHTML = '<i class="fas fa-times"></i>'
				 	}

				};
			})
			}
		

		</script>

{%endblock%}