{% extends "basefile.html" %}


{% block title %}Meeting Records - SMARTTM {%endblock%}
{% block body_block%}

		<!-- <br /><br /> -->
		<div class="container-fluid" >
			<br><br>
			<div class="row">

				<div class="col-sm">
					<h3>Meeting Records</h3>
				</div>
				<div class="col-sm" style="text-align:right;">

					<h3>
					<button type="button" class="btn btn-outline-primary btn-rounded" data-toggle="modal" data-target="#AddMeetingModal">
					  <i class="fa fa-file-excel"></i> Add Meeting
					</button>
					</h3>
				</div>
			</div>
			<hr />	
			<br>



			<div class="row">
				  
				<div class="col-sm" >
					<div class="table-responsive">

							<table  class="table table-bordered" >
							<thead>
								<tr>
									<th>Meeting Number</th>
									<th>Meeting Date</th>
									<th>Members Present</th>
									<th>Members Absent</th>
									<th>Total Speeches</th>
									<th>Total Table Topics</th>
									<th>Total Prepared Speeched</th>

								</tr>
							</thead>
							<tbody>
								{% for summ_Obj in summ_set %}
									<tr>
										<td>{{ summ_Obj.meeting.meeting_no }}</td>
										<td><a href = "{% url 'meeting_detail' summ_Obj.meeting.pk %}">{{ summ_Obj.meeting.meeting_date }}</a></td>
										<td>{{ summ_Obj.members_present_count }}</td>
										<td>{{ summ_Obj.members_absent_count }}</td>
										<td>{{ summ_Obj.speech_count }}</td>
										<td>{{ summ_Obj.tt_count }}</td>
										<td>{{ summ_Obj.prep_speech_count }}</td>
									</tr>
								{% endfor %}
							</tbody>
							</table>

					</div>
				</div>
				
			</div>
		</div>
		
		
		
		<!-- Import Modal -->
			<div class="modal fade" id="AddMeetingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<form action="{% url 'add_meeting' %}" method="POST" enctype="multipart/form-data">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Add Meeting</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								{% csrf_token %}

								<br>

								<br>
								<b>Meeting Date :</b>
								<input type="date" name="meeting_date" required class="form-data form-control" />
								<br>
								<b>Meeting Number :</b>
								<input type="text" name="meeting_no" required class="form-data form-control" />
								<br>

								<br>

							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">Add Meeting</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		<!-- Import Modal -->
		
		<script>
			
			function GetHistory(MemberID, ParticipationType){
				console.log(MemberID)
				 
				 
				$.get( "/api/getcatparticipations/"+MemberID+"/"+ParticipationType+"/",
				function( data ) {
				 
				  console.log(data)
				  createTableByForLoop(data)
				  $("#RoleDetail").modal();
//					$('#overlay').hide() 
				});
			}
		
			function createTableByForLoop(data)
			{
			  var eTable="<table class='table table-striped small'><thead><tr><th>Name</th><th>Category</th><th>Dated</th</tr></thead><tbody>"
			  
			  for(var i=0; i<data.length;i++)
			  {
				
				eTable += "<tr>";
				eTable += "<td>"+data[i]['participation_type']['name']+"</td>";
				eTable += "<td>"+data[i]['participation_type']['category']+"</td>";
				eTable += "<td>"+data[i]['meeting']['meeting_date']+"</td>";
			 
				eTable += "</tr>";
			  }
			  eTable +="</tbody></table>";
			  $('#divpost').html(eTable);
			}
		</script>

{%endblock%}