{% extends "basefile.html" %}


{% block title %}Meeting Details of {{ meeting.meeting_date }} - SMARTTM {%endblock%}
{% block body_block%}

		<!-- <br /><br /> -->
		<div class="container-fluid" >
			<br><br>
			<div class="row">
				<div class="col-sm">
					<h3>Meeting Details of {{ meeting.meeting_date }}</h3>
				</div>
				<div class="col-sm" style="text-align:right;">
					<h3>
					<button type="button" class="btn btn-outline-primary btn-rounded" data-partid="0" data-memid="0" data-parttype="0" data-toggle="modal" data-target="#createUpdatePartModal">
					  <i class="far fa-plus-square"></i> Add Participation
					</button>

					<button type="button" class="btn btn-outline-primary btn-rounded" data-toggle="modal" data-target="#ImportMeetingData">
					  <i class="fa fa-file-excel"></i> Import Meeting Data
					</button>
					</h3>
				</div>


			</div>

			<hr />	
			<br><br>



			<div class="row">

				<div class="col-sm" >
					<center><h4>Speeches Detail </h4></center>
					<br>
					<div class="table-responsive">

							<table  class="table table-bordered" id="participations">
							<thead>
								<tr>
									<td> # </td>
									<th>Member Name</th>
									<th>Speech Type</th>
									<th>Total Duration</th>
									<th>AH Counts</th>
									<th>Vote Counts</th>
									<th>Action</th>

								</tr>
							</thead>
							<tbody>
								{% for part_Obj in speech_part %}
									<tr id="hide-row-{{ part_Obj.id }}">
										<td>{{ forloop.counter }}</td>
										<td>{{ part_Obj.member.user.full_name }}</td>
										<td>{{ part_Obj.participation_type.name }}</td>
										<td>{{ part_Obj.time_seconds }}</td>
										<td>{{ part_Obj.ah_count }}</td>
										<td>{{ part_Obj.vote_count }}</td>
										<td>
											<a data-partid="{{ part_Obj.id }}" data-memid="{{ part_Obj.member.id }}" data-parttype="{{ part_Obj.participation_type.id }}" data-toggle="modal" data-target="#createUpdatePartModal"><i class="far fa-edit"></i></a>
											&nbsp&nbsp&nbsp
											<a data-toggle="modal" data-target="#DeletePrompt" data-id="{{ part_Obj.id }}"><i class="far fa-trash-alt" style="color: maroon"></i></a></td>
									</tr>
								{% endfor %}
							</tbody>
							</table>
						</div>

				</div>
				
			</div>
            <div class="row">
				<div class="col-sm" >
				<center><h4>Basic Roles</h4></center>
				<br>
					<div class="table-responsive">


						<table  class="table table-bordered" >
							<thead>
								<tr>
									<td> # </td>
									<th>Role Name</th>
									<th>Performed By</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for part_Obj in role_basic_part %}
									<tr id="hide-row-{{ part_Obj.id }}">
										<td>{{ forloop.counter }}</td>
										<td>{{ part_Obj.participation_type.name }}</td>
                                        <td>{{ part_Obj.member.user.full_name }}</td>
										<td><a data-partid="{{ part_Obj.id }}" data-memid="{{ part_Obj.member.id }}" data-parttype="{{ part_Obj.participation_type.id }}" data-toggle="modal" data-target="#createUpdatePartModal"><i class="far fa-edit"></i></a>
											&nbsp&nbsp&nbsp
											<a data-toggle="modal" data-target="#DeletePrompt" data-id="{{ part_Obj.id }}"><i class="far fa-trash-alt" style="color: maroon"></i></a>
										</td>
										</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-sm" >
				<center><h4>Advanced Roles</h4></center>
				<br>
					<div class="table-responsive">


						<table  class="table table-bordered" >
							<thead>
								<tr>
									<td> # </td>
									<th>Role Name</th>
									<th>Performed By</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for part_Obj in role_advanced_part %}
									<tr  id="hide-row-{{ part_Obj.id }}">
										<td>{{ forloop.counter }}</td>
										<td>{{ part_Obj.participation_type.name }}</td>
                                        <td>{{ part_Obj.member.user.full_name }}</td>
										<td>
											<a data-partid="{{ part_Obj.id }}" data-memid="{{ part_Obj.member.id }}" data-parttype="{{ part_Obj.participation_type.id }}" data-toggle="modal" data-target="#createUpdatePartModal"><i class="far fa-edit"></i></a>
											&nbsp&nbsp&nbsp
											<a data-toggle="modal" data-target="#DeletePrompt" data-id="{{ part_Obj.id }}"><i class="far fa-trash-alt" style="color: maroon"></i></a>
										</td>
										</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

			</div>
			<div class="row">
				<div class = 'col-sm'>
					<center><h4>Attendance Details</h4></center>
					<br>
				<div class="table-responsive">

					<div class="custom-control custom-switch">
					  <input type="checkbox" class="custom-control-input" id="toggleUnpaidMembers">
					  <label class="custom-control-label" for="toggleUnpaidMembers">Show unpaid members</label>
					</div>
						<table  class="display table table-bordered" id = "attendances" >
							<thead>
								<tr>
									<th> ID </th>

									<th>Member Name</th>
									<th style="display: none">Paid Status</th>
									<th>Present</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for att_record in attendance %}
									<tr>
										<td>{{ att_record.member.id }}</td>
                                        <td>{{ att_record.member.user.full_name }}</td>
										<td style="display: none">{% if att_record.member.paid_status %}Paid{% else %}Unpaid{% endif %}</td>
										<td id = "attendance-{{ att_record.pk }}">
											{% if att_record.present %}<i class="fas fa-check"></i> Present{% endif %}
											{% if att_record.present == False %}<i class="fas fa-times"></i> Absent{% endif %}
										</td>
										<td id = "actions-{{ att_record.pk }}">
<!--											<a onClick="ToggleAttendance({{ att_record.pk }})">-->
<!--												{% if att_record.present %}Mark Absent{% endif %}-->
<!--												{% if att_record.present == False %}Mark Present{% endif %}-->
<!--											</a>-->
											<button type="button" class="btn btn-primary btn-sm" onclick="ToggleAttendance({{ att_record.pk }})">
												{% if att_record.present %}Mark <i class="fas fa-times"></i>{% endif %}
												{% if att_record.present == False %}Mark <i class="fas fa-check"></i>{% endif %}
											</button>
										</td>
										</tr>
								{% endfor %}
							</tbody>
						</table>
				</div>
			</div>
			</div>
		</div>

		<!-- Import Modal -->
			<div class="modal fade" id="ImportMeetingData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<form action="{% url 'import_meeting_data' club_id=request.session.SelectedClub.0 %}" method="POST" enctype="multipart/form-data">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Import Meeting Data</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								{% csrf_token %}
								<div class="alert alert-info">
								  <strong>Info!</strong> Make sure the import file is <u>.xlsx</u> file and according to the template.
								</div>
								<br>

								<br>
								<b>Select File :</b>
								<input type="file" name="importfile" required class="form-data" />
								<input type="hidden" name="meeting_id" required class="form-data" value = "{{meeting.pk}}">
								<br><br>

								<br>

							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">Import Data</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</form>
					</div>
				</div>
			</div>

		<!-- Create/ Update Participation Modal -->
			<div class="modal fade" id="createUpdatePartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<form id="updateCreateForm">
							<div class="modal-header">
								<h5 class="modal-title" id="cRModalLabel">Create/ Update Participation</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">

								<br>
								<label>Select Member :</label>
								<select class="form-control" id="memberSelect" name="mem_id">
									<option disabled selected value="0"> -- select a member -- </option>
									{% for att_record in attendance %}
										<option value="{{ att_record.member.id }}">{{ att_record.member.user.full_name }}</option>
									{% endfor %}
								</select>
								<br>
								<label>Select Participation Type :</label>
								<select class="form-control" id="participationSelect" name="part_type_id">
									<option disabled selected value="0"> -- select a participation type -- </option>
									{% for part_type in part_types %}
										<option value="{{ part_type.id }}">{{ part_type.name }}</option>
									{% endfor %}
								</select>
								<input type="hidden" name="meeting_id" required class="form-data" value = "{{meeting.pk}}">
								<input type="hidden" name="participation_id" class="form-data" value = '0'>
								<input type="hidden" name="club_id" class="form-data" value = "{{request.session.SelectedClub.0}}">

								<br>

							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">Save</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		<!--Prompt Modal-->
			<div class="modal" tabindex="-1" role="dialog" id="DeletePrompt">
			  <div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="modal-title">Delete Participation</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <div class="modal-body">
					<p>Are you sure you want to delete this participation?</p>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-danger" id="deleteButton">Delete</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				  </div>
				</div>
			  </div>
			</div>
		<!--	End Prompt Modal	-->
		<script type="text/javascript">
			csrftoken = Cookies.get('csrftoken')

			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
					beforeSend: function(xhr, settings) {
						if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
							xhr.setRequestHeader("X-CSRFToken", csrftoken);
						}
					}
				});


			function ToggleAttendance(AttendanceID){
				console.log(AttendanceID)
				 
				 
				$.get( "/api/toggleattendance/"+AttendanceID+"/",
				function( data ) {
				console.log(data)

				 if (data.status = 'success'){

				 	if (data.present){
				 		document.getElementById('actions-'+AttendanceID.toString()).innerHTML = '<button type="button" class="btn btn-primary btn-sm" onclick="ToggleAttendance(' + AttendanceID.toString() + ')">Mark <i class="fas fa-times"></i></button>';
				 		document.getElementById('attendance-'+AttendanceID.toString()).innerHTML = '<i class="fas fa-check"></i> Present'

				 	}
				 	else {
				 		document.getElementById('actions-'+AttendanceID.toString()).innerHTML = '<button type="button" class="btn btn-primary btn-sm" onclick="ToggleAttendance(' + AttendanceID.toString() + ')">Mark <i class="fas fa-check"></i></button>';
				 		document.getElementById('attendance-'+AttendanceID.toString()).innerHTML = '<i class="fas fa-times"></i> Absent'
				 	}

				};
			})
			}

			$('#updateCreateForm').on('submit', function(e) {
				e.preventDefault();
				var part_id = $("input[name=participation_id]").val();
				var method = 'PUT';
				if (part_id == '0'){
					method = 'POST';
				}
				$.ajax({
				data: {csrfmiddlewaretoken: '{{ csrf_token }}',
				 		participation_type_id: $("#participationSelect").val(),
				 		meeting_id: $("input[name=meeting_id]").val(),
				 		member_id: $("#memberSelect").val(),
				 		club_id: $("input[name=club_id]").val()},
				url: "/api/participation/"+part_id+"/",
				type: method,
				success: function(data){
				if (data.status == 'success'){

					$('#createUpdatePartModal').modal('hide');
					location.reload()
				}
				}
			});
				console.log(method)

			})


			$('#createUpdatePartModal').on('show.bs.modal', function (event) {
				var button = $(event.relatedTarget)
				var part_id = button.data('partid')
				let modal = $(this);
				modal.find("input[name=participation_id]").attr('value', part_id);
					let mem_id = button.data('memid')
					let part_type = button.data('parttype');
					modal.find('#participationSelect');
					modal.find('#participationSelect').val(part_type);
					modal.find('#memberSelect').val(mem_id);
			})

			function DeleteParticipation(ParticipationID){
				$.ajax({
				data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
				url: "/api/participation/"+ParticipationID+"/",
				type: 'DELETE',
				success: function(data){
				if (data.status == 'success'){

					$('#DeletePrompt').modal('hide');
					document.getElementById("hide-row-"+ParticipationID).style.display = "none";
				}
				}
			});
			}


			$.fn.dataTable.ext.search.push(
		function( settings, data, dataIndex ) {
			let showUnpaidMembers = $("#toggleUnpaidMembers").prop("checked")
			let paidStatus = data[2] // use data for the age column

			if (showUnpaidMembers)
			{
				return true;
			}
			else
			{
				if (paidStatus=="Paid"){
					return true
				}
				else
				{
					return false
				}
			}

		}
	);
		$(document).ready(function() {
			let table = $('#attendances').DataTable({
				'bPaginate': false,
			});
			$("#toggleUnpaidMembers").change(function() {
			console.log("checked and unchecked")
				table.draw()
			})
		} );

			$('#DeletePrompt').on('show.bs.modal', function (event) {
				  let button = $(event.relatedTarget)
				  let id = button.data('id') // Extract info from data-* attributes
				  var modal = $(this)
				  modal.find('#deleteButton').attr('onClick', 'DeleteParticipation('+id+')');
				})

			$('#createUpdatePartModal').on('hide.bs.modal', function (event) {
				$('#updateCreateForm select').each(function() {
					$(this).val($(this).find("option:first").val());
				});
			});


		</script>

{%endblock%}