
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'ranking_summary' %}"><i class="fas fa-glass-cheers" style="font-size:1.8em;"></i> SMART TM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item {% if request.resolver_match.url_name == 'ranking_summary' %}active{% endif %}" ><a href="{% url 'ranking_summary' %}" class="nav-link">Rankings</a></li>
        <li class="nav-item {% if request.resolver_match.url_name == 'meeting_summary' %}active{% endif %}"><a  class="nav-link" href="{% url 'meeting_summary' %}">Meetings</a></li>
        <li class="nav-item {% if request.resolver_match.url_name == 'manage_club' %}active{% endif %}"><a  class="nav-link"  href="{% url 'manage_club' club_id=request.session.SelectedClub.0 %}">Club Management </a></li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        {{ request.session.SelectedClub.1 }}<span class="caret"></span>
      </a>
      <div class="dropdown-menu">
          {% for item in request.session.UserClubs %}
            <a class="dropdown-item" href="/smarttm_web/SetClub/{{ item.0  }}/">{{ item.1  }}</a>
          {% endfor %}
      </div>
    </li>
        <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        <i class="fa fa-user"></i>  {{ request.user.full_name }}   <span class="caret"></span>
      </a>
      <div class="dropdown-menu">
          <a class="dropdown-item" href="/accounts/logout/">Logout</a>
      </div>
    </li>
    </ul>
      {% endif %}
  </div>
</nav>