<!--<div class="container-fluid" style="padding:0;" >-->
<!--	<nav class="navbar navbar-inverse bg-primary" style = "background-color: #007BFF; color: white;border:0;">-->
<!--				  <div class="container-fluid" >-->
<!--					<a class="navbar-brand" href="{% url 'ranking_summary' %}" style="color: #fff"><i class="fas fa-glass-cheers" style="font-size:1.8em;"></i> </a>-->
<!--					<a class="navbar-brand" href="{% url 'ranking_summary' %}" style="color: #fff; margin-top: 1px"><b><i >SMART TM</i></b></a>-->
<!--					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
<!--                          <span class="icon-bar"></span>-->
<!--                          <span class="icon-bar"></span>-->
<!--                          <span class="icon-bar"></span>-->
<!--                      </button>-->

<!--                      {% if user.is_authenticated %}-->
<!--                      <ul class="nav navbar-nav" style="margin-left:40px;">-->
<!--                          <li ><a href="{% url 'ranking_summary' %}" >Rankings</a></li>-->
<!--                          <li><a  class="active"  href="{% url 'meeting_summary' %}">Meetings</a></li>-->
<!--                          <li><a  class="active"  href="{% url 'manage_club' %}">Club Management</a></li>-->
<!--                          <li><a href="{% url 'my_space' %}">My Space</a></li>-->
<!--                      </ul>-->

<!--                        <ul class="nav navbar-nav navbar-right">-->

<!--                            <li class="dropdown shadow" style = "background-color: rgba(0,0,0,0.1); margin-top: 7px; margin-right: 26px;">-->
<!--                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  style="padding: 10px">{{ request.session.SelectedClub.1 }}<span class="caret"></span></a>-->
<!--                                        <ul class="dropdown-menu">-->
<!--                                            {% for item in request.session.UserClubs %}-->
<!--                                                <li><a href="/smarttm_web/SetClub/{{ item.0  }}/">{{ item.1  }}</a></li>-->
<!--                                                <li role="separator" class="divider"></li>-->
<!--                                            {% endfor %}-->

<!--                                        </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown ">-->
<!--                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>  {{ request.user.full_name }}   <span class="caret"></span></a>-->
<!--                                <ul class="dropdown-menu">-->
<!--                                    <li><a href="#">VPE</a></li>-->
<!--                                    <li role="separator" class="divider"></li>-->
<!--                                    <li><a href="/accounts/logout/">Logout</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                        </ul>-->

<!--                      {% endif %}-->
<!--				  </div>-->
<!--				</nav>-->

<!--</div>-->

<!--<script>-->
<!--    $('.navbar-toggle').click(function(){-->
<!--        $('.navbar-nav').toggle();-->
<!--    });-->
<!--</script>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'ranking_summary' %}"><i class="fas fa-glass-cheers" style="font-size:1.8em;"></i> SMART TM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item"><a href="{% url 'ranking_summary' %}" class="nav-link">Rankings</a></li>
        <li class="nav-item"><a  class="nav-link" href="{% url 'meeting_summary' %}">Meetings</a></li>
        <li class="nav-item"><a  class="nav-link"  href="{% url 'manage_club' %}">Club Management</a></li>
        <li class="nav-item"><a href="{% url 'my_space' %}" class="nav-link">My Space</a></li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        {{ request.session.SelectedClub.1 }}<span class="caret"></span>
      </a>
      <div class="dropdown-menu">
          {% for item in request.session.UserClubs %}
            <a class="dropdown-item" href="/smarttm_web/SetClub/{{ item.0  }}/">{{ item.1  }}</a>
          {% endfor %}
      </div>
    </li>
        <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        <i class="fa fa-user"></i>  {{ request.user.full_name }}   <span class="caret"></span>
      </a>
      <div class="dropdown-menu">
          <a class="dropdown-item" href="/accounts/logout/">Logout</a>
      </div>
    </li>
    </ul>
  </div>
</nav>