{% extends "basefile.html" %}


{% block title %}Member rankings - SMARTTM {%endblock%}
{% block body_block%}

		<div class="container-fluid" >

			<br>
			<br>
			<div class = "row">
				<div class="col-sm" style="padding-top: 6px" >
					<h3>Participation Rankings</h3>
				</div>
				{% if user.is_authenticated %}
				<div class="col-sm" >

					<form action="" method="POST" class="form-inline" style="float:right;">
							{% csrf_token %}
								<b>Date Range&nbsp;&nbsp;</b>
								<input type="hidden" name="ToolID" id="ToolID" value="3" />
								<input type="date" name="StartDate" id="StartDate" placeholder="From Date" class="form-control" required /><span>&nbsp;&nbsp;to&nbsp;&nbsp;</span>
								<input type="date" name="EndDate" id="EndDate" placeholder="To Date" class="form-control"  required />

							
								&nbsp;&nbsp;
								<button class="btn btn-outline-primary btn-rounded" type="Submit" ><i class="fas fa-filter"></i> Filter</button>


					</form>
				</div>
				{% endif %}

			<br>
			<br>

			</div>
			<hr />
			<br>
			{% if user.is_authenticated %}
			<div class="row">
			<div class="col-sm" >
						
						{% if FromDate != '' %}
							<h4>Time Period: <span class='badge badge-primary'>{{ FromDate }}</span> to <span class='badge badge-primary'>{{ ToDate }}</span></h4>
						{% else %}
							
						{% endif %}

			</div>
			</div>
			{% endif %}
			<div class="row">
				<div class="container-fluid">
					<a href="#detail_table" class="btn btn-outline-primary btn-rounded">View Detail</a>
				</div>
				<div id="container2" style="width: 100%; height: 500px; margin: 0 auto"></div>
			</div>
			<div class="row" id="detail_table">
				  
				<div class="col-sm" >
					<div class="custom-control custom-switch" style="display: none">
					  <input type="checkbox" class="custom-control-input" id="toggleUnpaidMembers">
					  <label class="custom-control-label" for="toggleUnpaidMembers">Show unpaid members</label>
					</div>
					<div class="table-wrapper">
						<div class="table-title table-responsive">
							<table  id="example"  class="display table table-bordered " >
							<thead>
								<tr>
									<th>Ranking</th>
									<th>Name</th>
									<th style="display: none">Paid Status</th>
									<th>Present</th>
									<th>Latest Absents</th>
									<th>Meetings Participation</th>
									<th>TT Participation</th>
									<th>TT Participation</th>
									<th>Speeches Participation</th>
									<th>Evaluations</th>
									<th>Basic Leadership roles</th>
									<th>Advanced Leadership roles</th>
								</tr>
							</thead>
							<tbody>
								{% for summ_Obj in summ_set %}
									<tr>
										<td>{{ summ_Obj.ranking }}</td>
										<td><a href = "{% url 'member_detail' member_id=summ_Obj.member.pk club_id=summ_Obj.member.club_id %}">
											{{ summ_Obj.member.user.full_name }}</a></td>
										<td style="display: none">{% if summ_Obj.member.paid_status %}Paid{% else %}Unpaid{% endif %}</td>
										<td>{{ summ_Obj.attendance_percent }} %</td>
										<td>{{ summ_Obj.last_absents }}</td>
										<td>{{ summ_Obj.part_percent }} %</td>
										<td>{{ summ_Obj.tt_percent }} %</td>
										<td>{{ summ_Obj.tt_count }}</td>
										<td>{{ summ_Obj.speeches_count }}</td>
										<td>{{ summ_Obj.evaluation_count }}</td>
										<td><a href="#" onClick="GetHistory({{ summ_Obj.member.pk }}, 'basic');">{{ summ_Obj.basic_role_count }}</a></td>
										<td><a href="#" onClick="GetHistory({{ summ_Obj.member.pk }}, 'advanced');">{{ summ_Obj.adv_role_count }}</a></td>
									</tr>
								{% endfor %}
							</tbody>
							</table>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		
		
		<!-- Modal -->

		<div class="modal fade" id="RoleDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">

							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Roles Performed</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
			  <div class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
						<div class="table-wrapper">
							<div class="table-title">
								
							</div>
							
							<div id="divpost"></div>
						</div>
					</div>
					
					
				</div>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

			  </div>
			</div>
		  </div>
		</div>
		
		<!-- Modal -->
		
		<script>
			
			function GetHistory(MemberID, ParticipationType){
				console.log(MemberID)
				 
				 
				$.get( "/api/getcatparticipations/"+MemberID+"/"+ParticipationType+"/",
				function( data ) {
				 
				  console.log(data)
				  createTableByForLoop(data)
				  $("#RoleDetail").modal();
//					$('#overlay').hide() 
				});
			}
		
			function createTableByForLoop(data)
			{
			  var eTable="<table class='table table-striped small'><thead><tr><th>Name</th><th>Category</th><th>Dated</th</tr></thead><tbody>"
			  
			  for(var i=0; i<data.length;i++)
			  {
				
				eTable += "<tr>";
				eTable += "<td>"+data[i]['participation_type']['name']+"</td>";
				eTable += "<td>"+data[i]['participation_type']['category']+"</td>";
				eTable += "<td>"+data[i]['meeting']['meeting_date']+"</td>";
			 
				eTable += "</tr>";
			  }
			  eTable +="</tbody></table>";
			  $('#divpost').html(eTable);
			}
		</script>


        </div>

<!--	#datatables-->
	<script type="text/javascript">
		$.fn.dataTable.ext.search.push(
		function( settings, data, dataIndex ) {
			let showUnpaidMembers = $("#toggleUnpaidMembers").prop("checked")
			let paidStatus = data[2] // use data for the age column

			if (showUnpaidMembers)
			{
				return true;
			}
			else
			{
				if (paidStatus=="Paid"){
					return true
				}
				else
				{
					return false
				}
			}

		}
	);
		$(document).ready(function() {
			let table = $('#example').DataTable({
				fixedHeader: true,
				'bPaginate': false,
				dom: 'Bfrtip',
				buttons: [
				{
					extend: 'excel',
					text: 'Export Excel',
					className: 'btn btn-outline-primary btn-rounded'
				}
				]
			});
			$("#toggleUnpaidMembers").change(function() {
			console.log("checked and unchecked")
				table.draw()
			})
		} );
	</script>

<!--	#highcharts-->
	<script>
	var members = {
	{% for summ_Obj in summ_set %}
	{{ forloop.counter }}:{
					{% if summ_Obj.member.paid_status %}
					club_id: {{ summ_Obj.member.club.pk }},
					member_name: "{{ summ_Obj.member.user.full_name }}",
					member_id: {{ summ_Obj.member.pk }}
					},
					{% endif %}
				{% endfor %}}
		Highcharts.chart('container2', {
			chart: {
				type: 'column'
			},
			title: {
				text: ''
			},
			xAxis: {
				categories: [
				{% for summ_Obj in summ_set %}
					{% if summ_Obj.member.paid_status %}
					"{{ summ_Obj.member.user.full_name }}",
					{% endif %}
				{% endfor %}

				],
				crosshair: true,
				labels : {
						rotation: -45
							}
			},
			yAxis: {
				min: 0,
				max: 100,
				title: {
					text: 'Participation Percentage'
				}
			},
			tooltip: {
				headerFormat: '<span style="font-size:14px">{point.key}</span><table>',
				pointFormatter: function (){
				return '<tr><td style="color:'+this.color+';padding:0">Rank: </td>' +
					'<td style="padding:0"><b>'+ parseInt(this.index+1).toString() +'</b></td></tr>'},
				footerFormat: '</table>',
				shared: true,
				useHTML: true,

			},
			plotOptions: {
				column: {

					pointPadding: 0.2,
					borderWidth: 0
				},
				series: {
						point: {
							events: {
								click: function(){
								debugger
									let url = "{% url 'member_detail' 123 456 %}"
									url = url.replace('123', members[this.index+1]['club_id'])
									url = url.replace('456', members[this.index+1]['member_id'])
									window.location.href = url
									}
									}
									},
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y} %',
                rotation: -90,
                align: 'right',
                y: 10,
                color: '#FFFFFF',
            }
        }
			},
			series: [{
				name: 'Participation Percentage',
				color: '#007BFF',
				data: [
				{% for summ_Obj in summ_set %}
					{% if summ_Obj.member.paid_status %}
					{{ summ_Obj.part_percent }},
					{% endif %}
				{% endfor %}
				]

			}]
		});
		</script>

	<style>


		table.dataTable {
			border-radius:5px;
			font-size:0.8em;
			margin: 0 auto;
			clear: both;
			border-collapse: collapse;
			border-spacing: 0;
		}

	[type=search] {

			text-align:right;
			font-size: 1rem;
			line-height: 1.5;
			color: #495057;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid #ced4da;
			border-radius: .25rem;
			transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}

.table-title {
	text-align:right;
}

	.dataTables_wrapper .dataTables_info {
		color:grey;
		font-size:0.75em;
	}

	.buttons-html5 {
	margin-bottom: 6px;
	float: left;
	}

	</style>
{%endblock%}